@model OlhoVivo.Core.Application.DTOs.StopDTO

@{
    ViewData["Title"] = "Stop Point Details";
}

<div>
    <h2>@ViewData["Title"]</h2>
</div>

<div>

    <hr />

    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
    </dl>


    <form asp-action="Edit" method="post">

        <input type="hidden" asp-for="Id" /> 
        <a asp-action="Index">Back to List</a>

    </form>
</div>

